In [1]:
import numpy as np
import pandas as pd

In [6]:

data = np.load('mobilenet_Fold1_1x1_X.npy')
df_pt = pd.DataFrame(data)
df_pt

,0,1,2,3,4,5,6,7,8,9,...,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279
0,0.040209,0.099842,0.254029,0.353377,0.026475,0.131009,0.496145,0.255948,0.096660,0.264425,...,0.988429,0.234608,0.013398,0.233709,0.035980,0.0,0.0,0.034192,0.034471,1.108100
1,0.005058,0.005658,0.391565,0.015807,0.008153,1.433691,0.159470,0.001758,0.000299,0.019911,...,0.054870,0.088622,0.141464,0.033802,0.142564,0.0,0.0,0.000000,0.004053,0.729675
2,0.174345,0.014481,0.378351,0.136366,0.019159,0.657248,0.056412,0.163538,0.024658,0.391358,...,0.317900,0.083064,0.037495,0.350974,0.002104,0.0,0.0,0.007788,0.074402,1.320287
3,0.238609,0.247554,0.348344,0.126042,0.017229,0.111747,0.536500,0.155045,0.226815,0.251099,...,0.825538,0.266564,0.051515,0.219813,0.095877,0.0,0.0,0.145364,0.000000,1.048624
4,0.028061,0.034699,0.314911,0.253851,0.001212,1.349059,0.094933,0.203905,0.039564,0.126176,...,0.422274,0.356812,0.154526,0.252123,0.005195,0.0,0.0,0.000000,0.014277,0.855127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0.094388,0.216506,0.461888,0.392747,0.013205,0.346999,0.160652,0.185405,0.024509,0.279164,...,0.792488,0.216997,0.083528,0.278210,0.020791,0.0,0.0,0.023249,0.000000,1.038856
76,0.045914,0.000000,0.387477,0.313001,0.000000,0.262243,0.389608,0.181800,0.075359,0.028091,...,0.367293,0.051130,0.065483,0.023637,0.032120,0.0,0.0,0.003748,0.000000,0.751639
77,0.147966,0.089822,0.500082,0.578126,0.000000,0.067784,0.630848,0.172737,0.099411,0.102010,...,0.837536,0.052607,0.032976,0.061033,0.000077,0.0,0.0,0.432564,0.000000,1.094940
78,0.106178,0.657711,0.383322,0.462939,0.001554,0.428097,0.540362,0.181150,0.543996,0.180139,...,1.221241,0.217791,0.043795,0.114192,0.013990,0.0,0.0,0.001986,0.001386,0.930837
79,0.317180,0.188263,0.207570,0.525948,0.000000,0.225069,0.379334,0.399911,0.113573,0.199078,...,0.742527,0.188121,0.047895,0.034030,0.074342,0.0,0.0,0.022114,0.007972,1.196115

In [10]:
for fold in [1,2,3,4,5]:
    for patch in [1,3,5,10]:
        data = np.load('datasets/MobileNet/commonvoicev1_Fold'+str(fold)+'_'+str(patch)+'x1_X.npy')
        df_en = pd.DataFrame(data)
        print(df_en.shape)

(80, 1280)
(240, 1280)
(400, 1280)
(800, 1280)
(80, 1280)
(240, 1280)
(400, 1280)
(800, 1280)
(80, 1280)
(240, 1280)
(400, 1280)
(800, 1280)
(80, 1280)
(240, 1280)
(400, 1280)
(800, 1280)
(80, 1280)
(240, 1280)
(400, 1280)
(800, 1280)

In [17]:
pd.DataFrame(np.load('datasets/MobileNet/commonvoicev1_Fold1_10x1_Y.npy')).groupby(0).count()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

[80 rows x 0 columns]

## Resposta: Começa em 0 e não em 1